
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
}




.navbar-brand{
    color: var(--neutral-0-white, #FFF);
    font-family: "Poppins";
    font-size: 20.936px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}



.nav-end{
    list-style-type: none;
    margin-top: 20px;
    
}

.nav-end a{
    color: white;
    text-decoration: none;
   

/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}


.hero-text button{
    color: var(--neutral-0-white, #FFF);
text-align: center;
/* Font Website/Body 1/Medium */
font-family: Inter;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 28px */
display: inline-flex;
padding: 14px 40px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius:30px;
}







.main-1{
    background: url(../image/bagir-bahana-nAmTWqr8xEk-unsplash\ 1.png);
    height:auto;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    
}








/*X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 476px){


    .main-1{
        background-position: top;
       
    }



.flag{
    margin-left: 150px;
}




.hero-text{
    margin-left: 20px;
}

   .main-1  .hero-text h1{
    margin-top: 124px;
color: white;
/* Font Responsive/Caption 2/Medium */
font-family: "Inter";
font-style: normal;
font-weight: 500;
line-height: 140%; /* 16.8px */
   }


.main-1 .hero-text p{
    color: var(--neutral-100, #E5E5E6);
    text-align: start;
    /* Font Website/H2/Regular */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    
}


   .hero-text .hero-text-2{
margin-top: 160px;
    font-size: 12px;
   }

   .hero-text .hero-text-1{
    margin-top: 24px;
}

.hero-text button{
    font-size: 16px;
    margin-top: 16px;
   
}

.reel-couples{
    justify-content: center;
}

.reel-couples .col-3{
    background:url(..//image/pexels-asad-photo-maldives-2549089\ 2.png);
    
    background-repeat: no-repeat;
    
    object-fit: contain;
   width: 160px;
   height: 180px;
border-radius: 10px;
margin: 8px 8px;

 }

 .sec-4 .row .col-lg{
    display: inline-flex;
    justify-content: space-between;
 }

 .card-body h5{
    color: #000;

/* Font Responsive/H2/Medium */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 33.6px */
 }

 .card-body span{
    color: #FF626A;

    /* Font Responsive/Body 2/Medium */
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
}

.card-body p{
    color: #676879;

    /* Font Responsive/Body 3/Regular */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}







}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px){}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    .nav-between{
        list-style-type: none;
        margin-top: 20px;
        margin-left: 120px;
    }
    
    .nav-between li a{
        color: white;
        text-decoration: none;
       
    
    /* Font Website/Body 2/Medium */
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
    }

   .hero-text{
    margin-left: 108px;
   }
    
        .main-1 .hero-text h1{
            color: var(--neutral-0-white,#fff);
            text-align: start;
/* Font Website/Display/Semi Bold */
font-family: Inter;
font-size: 72px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 100.8px */
margin-top:94px;
        }

        .main-1 .hero-text p{
            color: var(--neutral-100, #E5E5E6);
text-align: start;
/* Font Website/H2/Regular */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */

        }

       .hero-text .hero-text-2{
            margin-top: 64px;
        }

      .hero-text button{
    margin-top: 40px;
        font-size: 20px;
        
      }

      .hero-text .hero-text-1{
        margin-top: 32px;
      }

      .title-reel h2{
        color: var(--text-main-text, #121212);
text-align: center;
margin-top: 56px;
/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
      }

      .title-reel p{
        color: var(--text-secondary-text, #808080);
text-align: center;
/* Font Website/H2/Regular */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */
margin-top: 15px;
      }


    .text-reel{
        margin-top: 56px;
    }

    .text-reel h2{
        color: var(--text-main-text, #121212);

/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
    }

    .text-reel p{

        color: var(--text-secondary-text, #808080);
margin-top: 16px;
/* Font Website/H2/Regular */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */
    }



    .reel-couples{
    margin-left: 104px;
    margin-top: 51px;
    }


 .reel-couples .col-3{
    background:url(..//image/pexels-asad-photo-maldives-2549089\ 2.png);
    border: 16px;
    background-repeat: no-repeat;
    height: 312px;
    margin: 0 16px;
    width: 276px;
 }


 
 .sec-4 h2 {
    
    margin-top: 120px;
    color: var(--text-main-text, #121212);

/* Font Website/H1/Semi Bold */
font-family: "Inter";
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 67.2px */
}

.sec-4 p{
    color: var(--text-secondary-text, #808080);
margin-top: 15px;
/* Font Website/H2/Regular */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 33.6px */
}

.sec-4 .btn{
    display: inline-flex;
    height: 42px;
    padding: 14px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;

    text-align: center;
    
    /* Font Responsive/Body 3/Medium */
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
}

.sec-4 .btn-light{
    color: #808080;
}

.sec-4 .row{
    margin-top: 32px;
}


.card-body h5{
    color: var(--text-main-text, #121212);

/* Font Responsive/Display/Medium */
font-family: "Inter";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 44.8px */
}

.card-body span{
    color: var(--pink-400-default, #ED4D55);

/* Font Website/H2/Regular */
font-family: "Inter";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
}

.card-body p{
    color: var(--text-secondary-text, #808080);

/* Font Responsive/Body 1/Regular */
font-family: "Inter";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}

.card-img-top{
    border-radius: 16px;
background: url(../image/china-home.png), lightgray 50% / cover no-repeat;
}

.sec-5 .container{
    margin-top: 52px;
    
}



.sec-7 .container .row{

    background: url(../image/Rectangle\ 161124062.svg);
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    object-fit: left;
flex-shrink: 0;
border-radius: 16px;
    }

    .sec-7 .discount{
        justify-content: space-between;
    }

    .sec-7 img{
       
    }






.sec-7 .discount h2{
    color: var(--neutral-0-white, black);
    /* Font Website/H1/Medium */
    font-family: "Inter";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 67.2px */
}

.sec-7 .discount p{
    color: var(--neutral-0-white, #FFF);

/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.sec-7 button{
border-radius: 30px;
padding: 14px 32px;
color: var(--neutral-0-white, #FFF);
text-align: center;
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}






}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400) {}
    




