* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
}

:root {
    --neutral-0-white: #fff
}







/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
.main-1 {
    background: url(image/hero_image_01.jpg);
    height: 100vh;
    max-height: 750px;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-1 .hero {
    height: 100%;
}

.main-1 .hero .hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.navbar-brand{
    color: var(--neutral-0-white, #FFF);
    font-family: "Poppins";
    font-size: 20.936px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}



.nav-end{
    list-style-type: none;
    margin-top: 20px;
    
}

.nav-end a{
    color: white;
    text-decoration: none;
   

/* Font Website/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}



@media (min-width: 476px) {





    .hero-inner h1{
        color: #FFF;
text-align: center;

/* Font Responsive/Display/Semi Bold */
font-family: Inter;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 44.8px */
    }

    .hero-inner p{
        color: #E7E7E7;
text-align: center;

/* Font Responsive/Body 3/Medium */
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:130%; /* 22.4px */
    }


    
    .hero .bg-danger{
        display: inline-flex;
height: 44px;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 30px;
background: #FF626A;
    }

    .hero .bg-transparent{
        display: inline-flex;
height: 44px;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;border-radius: 30px;
border: 1px solid #FFF;

    }

    .hero-2 .row .col-12 .group-0{
        margin-top: 10px;
    }


    

    .hero-2 .row .wallet-header {
        margin-left: 20px;
        text-align: start;
    }

    .sec-3 {
        margin-top: 56px;


    }

    .sec-3 .papu h2 {
        color: #121212;
        /* Font Responsive/H 1/Semi Bold */
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 39.2px */

        margin-left: 20px;
    }

    .sec-3  p {
        margin-left: 20px;
        color: #808080;
        text-align: start;
        /* Font Responsive/Body 3/Medium */
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
    }

    .sec-3 .red-btn{
        display: none;
    }

.reel .row .col-lg-4{
    position: relative;
}





    .header-reel{
        
        position: absolute;
      text-align: left;
        transform: translate(30px,-95px);
    
    }

    .header-reel h5{
        color: #FFF;
text-align: end;
/* Font Responsive/H2/Medium */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */

    }

    .header-reel p{
        color: #FFF;

/* Font Responsive/Body 3/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
    }


    .Things-card{
        margin-top: 100px;
    }

    .Things-card h2{
        color: #121212;
text-align: center;

/* Font Responsive/H 1/Semi Bold */
font-family: Inter;
font-size: 34px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 39.2px */
    }

    .Things-card p{
        color: #808080;
text-align: center;

/* Font Responsive/Body 3/Medium */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 22.4px */
    }

    .container .sec-5{
        margin-top: 40px;
    }

    .sec-5 .airplane a {
        margin-top: 10px;
        color: var(--pink-400-default, #ED4D55);
        text-align: center;
        text-decoration: none;
        /* Font Website/Body 2/Medium */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 25.2px */
    }

    .sec-5 .airplane{
        margin-top: 40px;
    }

    .sec-5 .visa{
        margin-top: 40px;
    }

    .sec-5 .safe{
        margin-top:40px;
    }

    .sec-5 .airplane p{
        color: #808080;
text-align: center;

/* Font Responsive/Caption 1/Medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
    }

    .sec-5 .airplane h5{
        margin-top: 16px;
        color: #121212;
text-align: center;

/* Font Responsive/Body 2/Medium */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
    }

    .our-reel{
        margin-top: 60px;
    }

    .our-reel h2{
        color: #121212;
text-align: center;

/* Font Responsive/H 1/Semi Bold */
font-family: Inter;
font-size:36px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 39.2px */
    }

    .our-reel p{

    color: #808080;
text-align: center;

/* Font Responsive/Body 3/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 250%; /* 22.4px */
    }

    .sec-6 img{
        width: 100%;
        height: 370px;
        border-radius: 16px;
        
    }

    .reel-2 {
        position: absolute;
        bottom: 12px;
        left: 34px;
    }

    .btn-our {
        border-radius: 30px;
        background: var(--pink-400-default, #ED4D55);
        padding: 16px 56px;
        align-items: center;
        color: var(--neutral-0-white, #FFF);
        text-align: center;
        border: 1px solid #ED4D55;
        /* Font Website/Body 1/Medium */
        font-family: "Inter";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 28px */
    }

    .sec-7{
        margin-top: 20px;
        border-radius: 8px;
    }

    .sec-7 h2 {
        color: var(--neutral-0-white, #FFF);

        /* Font Website/H1/Semi Bold */
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 67.2px */
        margin-top: 32px;
        margin-left: 20px;
    }

    .sec-7 p {
        
        margin-top: 32px;
        color: var(--neutral-0-white, #FFF);
margin-left: 20px;
        /* Font Website/H2/Regular */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 33.6px */
    }

    .sec-7 .app-store{
        margin-left: 20px;
    }

.mobile-1{
    width: 180px;
    height: 280px;
    position: relative;
    right: 30px;
    top: 30px;
}

.mobile-2{
    width: 180px;
    height: 300px;
    position: relative;
    right: 50px;
    top: 10px;
}
.head-test h2{
color: #121212;
text-align: center;

/* Font Responsive/H 1/Semi Bold */
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 39.2px */
}

.head-test p{
    color: #808080;
text-align: center;

/* Font Responsive/Body 3/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
}


.sec-8 .card {
    border-radius: 16px;
    background-color: #fafafb;
}

.stars img{
    height: 16px;
    width: 16px;
}

.stars{
    margin-top: 24px;
    margin-left: 24px;
}

.rating{
    margin-top: 25px;
    margin-left: 6px;
}

.sec-8 .card p{
    color: #808080;
margin-top: 15px;
    /* Font Responsive/Caption 1/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    text-align: left;
    margin-left: 24px;
}
.name-person img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 20px;
    margin-left: 24px;

}

.name-person h5 {
    
    color: var(--text-main-text, #121212);
margin-left: 8px;
    /* Font Website/H2/Medium */
    margin-top: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */

}

.sec-9{
    margin-top: 40px;
}

.sec-9 .row .head-sec9{
    margin-top: 32px;
}

.head-sec9 h2{
    color: #121212;
text-align: center;

/* Font Responsive/H 1/Semi Bold */

font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 39.2px */
}

.head-sec9 p{
    color: #808080;
text-align: center;
margin-top: 20px;
/* Font Responsive/Body 3/Medium */
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 22.4px */
}


.sec-9 .col-12{
    margin-top: 30px;
}

.sec-9 .col-12 h5{
    margin-top: 16px;
}


footer .container{
   text-align: center;
    margin-top: 32px;
}

footer .row .col-12{
    margin-top: 32px;
}

footer .d-flex {
    display: flex;
    justify-content: center;
    color: white;
}

footer .d-flex h5{
    font-size: 25px;
    font-weight: 500;
}

.social-media span img {
    border-radius: 50px;
    margin-top: 8px;
}


.loction{
    color: #808080;
margin-top: 30px;
/* Font Responsive/Caption 1/Medium */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
}

.social-media h5{
    color: #FFF;
margin-top: 32px;
/* Font Responsive/Body 2/Medium */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.social-media span img{
    margin-left: 16px;
}

.menu-footer {
    color: #808080;

/* Font Responsive/Caption 1/Medium */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 250%; /* 19.6px */
}


.menu-footer-2{
    color: #808080;

/* Font Responsive/Caption 1/Medium */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 250%; /* 19.6px */
}

.email h5{
    color: #FFF;

/* Font Responsive/Body 2/Medium */
font-family: "Inter";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.email p{
    color: #808080;

/* Font Responsive/Caption 1/Medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
}


.footer-app{
     margin-top: 32px;
}
.footer-app p{
    color: #FFF;

/* Font Responsive/Body 2/Medium */
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 25.2px */
}

.footer-app .btn{

    border-radius: 26px;
    background: var(--neutral-0-white, #FFF);
    height: 52px;
    padding: 8px 56px;
    align-items: center;
    gap: 10px;
    color: var(--text-main-text, #121212);

    /* Font Website/Body 2/Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
}


 footer .terms-1{
    display: block;
    color: #808080;
margin-top: 30px;
/* Font Responsive/Caption 1/Medium */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
}

.wallet img {
    width: 24px;
    height: 24px;
    margin-top: 20px;
    
}
}





    

 

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    .nav-between{
        list-style-type: none;
        margin-top: 20px;
        margin-left: 120px;
    }
    
    .nav-between li a{
        color: white;
        text-decoration: none;
       
    
    /* Font Website/Body 2/Medium */
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 25.2px */
    }

    .img-nav{
        margin-right: 200px;
    }



    .lg-f-24 {
        font-size: 24px;
    }

    .sec-3 .papu h2 {
        font-size: 48px;
        font-weight: 600;
    }

    .main-1 {
        background: url(image/hero_image_01.jpg);
        height: 100vh;
        width: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /*.main-1 .container{*/
    /*    position: absolute;*/
    /*    margin-top: 30%;*/
    /*    margin-left: 100px;*/
    /*}*/


    .main-1 .container h1 {
        color: var(--neutral-0-white, #FFF);
        text-align: center;

        /* Font Website/Display/Semi Bold */
        font-family: "Inter", serif;
        font-size: 72px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 100.8px */
    }

    .main-1 .container p {
        color: var(--neutral-100, #E5E5E6);
        text-align: center;

        /* Font Website/H2/Regular */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 33.6px */
    }

    .main-1 .container .bg-danger {
        border-radius: 30px;
        background: var(--pink-400-default, #ED4D55);
        padding: 14px 40px;
        align-items: center;
        gap: 10px;
        color: var(--neutral-0-white, #FFF);
        text-align: center;

        /* Font Website/Body 1/Medium */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 28px */
    }

    .main-1 .container .bg-transparent {
        border-radius: 30px;
        border: 1px solid var(--neutral-0-white, #FFF);
        padding: 14px 40px;
        color: var(--neutral-0-white, #FFF);
        text-align: center;

        /* Font Website/Body 1/Medium */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 28px */
        align-items: center;
        gap: 10px;
    }


    .wallet img {
        width: 32px;
        height: 32px;
        margin-left: 23px;
        margin-top: 49px;

    }

    .wallet-header {
        margin-top: 29px;
        margin-left: 44px;
        text-align: start;
    }

    .sec-3 {
        margin-left: 120px;

    }

    .sec-3 h2 {
        margin-top: 18px;
        color: var(--text-main-text, #121212);
    

        /* Font Website/H1/Semi Bold */
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 67.2px */

    }

    .sec-3 p {
        margin-top: 23px;
        color: var(--text-secondary-text, #808080);
        text-align: center;
margin-right: 50px;
        /* Font Website/H2/Regular */
        font-family: Inter;
        font-size: 19.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 33.6px */
    }

    .sec-3 .red-btn {
        display: inline-flex;
        background: var(--pink-400-default, #ED4D55);
        color: var(--neutral-0-white, #FFF);
        text-align: center;
        padding: 14px 40px;
        /* Font Website/Body 1/Medium */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        border-radius: 30px;
        cursor: pointer;
    }

   .reel .row {
    margin-top: 25px;
   
   }

    .header-reel{
        transform: translateY(-95px);
        left: 44px;
        text-align: start;
    

    }

    .header-reel h5{
        color: var(--neutral-0-white, #FFF);

/* Font Website/H2/Medium */
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 33.6px */
    }

    .header-reel p{
        color: var(--neutral-100, #E5E5E6);

/* Font Website/Body 1/Regular */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
    }
    
   
    .Things-card {
        margin-top: 34px;
    }

    .Things-card h2 {

        color: var(--text-main-text, #121212);
        text-align: center;

        /* Font Website/H1/Semi Bold */
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 240%; /* 67.2px */
    }

    .Things-card p {
        color: var(--text-secondary-text, #808080);
        text-align: center;

        /* Font Website/H2/Regular */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 240%; /* 33.6px */
    }

    



    .sec-5 .airplane h5 {
        margin-top: 21px;
        color: var(--text-main-text, #121212);
        text-align: center;

        /* Font Website/H2/Medium */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 33.6px */
    }


    
    .sec-5 .airplane p {
        margin-top: 11px;
        color: var(--text-secondary-text, #808080);
        text-align: center;

        /* Font Website/Body 2/Regular */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */

    }

    .sec-5 .airplane a {
        margin-top: 24px;
        color: var(--pink-400-default, #ED4D55);
        text-align: center;
        text-decoration: none;
        /* Font Website/Body 2/Medium */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
    }


    .our-reel {
        margin-top: 120px;
    }

    .our-reel h2 {
        color: var(--text-main-text, #121212);
        text-align: center;

        /* Font Website/H1/Semi Bold */
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 67.2px */
    }

    .our-reel p {
        color: var(--text-secondary-text, #808080);
        text-align: center;

        /* Font Website/H2/Regular */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 33.6px */
    }

    .container .sec-6 {
        margin-top: 56px;
    }

    
    .sec-6 img{
        width: 100%;
        height: 418px;
        border-radius: 16px;
    }

    .reel-2 {
        position: absolute;
        bottom: 12px;
        left: 34px;
    }

    
    

    .reel-2 p {
        margin-top: 18px;
        color: var(--neutral-0-white, #FFF);

        /* Font Website/H2/Medium */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 33.6px */
    }

    .btn-our {
        border-radius: 30px;
        background: var(--pink-400-default, #ED4D55);
        padding: 14px 40px;
        align-items: center;
        color: var(--neutral-0-white, #FFF);
        text-align: center;
        border: 1px solid #ED4D55;
        /* Font Website/Body 1/Medium */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 28px */
    }

    .sec-7 {
        margin-top: 207px;
        width: 1150px;
position: relative;
        margin-left: 100px;
        border-radius: 8px;
    }

    .sec-7 .container{
        position: relative;
    }

    .sec-7 h2 {
        color: var(--neutral-0-white, #FFF);

        /* Font Website/H1/Semi Bold */
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 67.2px */
        margin-top: 52px;
        margin-left: 83px;
    }

    .sec-7 p {
        margin-left: 83px;
        margin-top: 32px;
        color: var(--neutral-0-white, #FFF);

        /* Font Website/H2/Regular */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 33.6px */
    }

    .sec-7 .app-store {
        margin-top: 50px;
        margin-left: 83px;

    }


    
    
  

    .mobile-1 {
       position: relative;
        width: 254px;
        height: 530px;
    bottom:100px;
        
    }

    .mobile-2 {
        position: relative;
        width: 254px;
        height: 530px;
    
        


    }


    .head-test {
        margin-top: 120px;
    }

    .head-test h2 {

        color: var(--text-main-text, #121212);
        text-align: center;

        /* Font Website/H1/Semi Bold */
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 67.2px */
    }

    .head-test p {
        color: var(--text-secondary-text, #808080);
        text-align: center;
        margin-top: 24px;
        /* Font Website/H2/Regular */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 33.6px */
    }


    .container .sec-8 {
        margin-top: 55px;
    }

    .sec-8 .card {
        border-radius: 16px;
        background-color: #fafafb;
    }

    .stars img{
        width: 24px;
        height: 24px;
    }


    .stars {
        
        margin-top: 31px;
        margin-left: 22px;

    }

    .rating {
        margin-top: 32px;
        margin-left: 8px;
        color: var(--text-secondary-text, #808080);

        /* Font Website/Body 1/Regular */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 28px */
    }

    .card-text {
        color: var(--text-secondary-text, #808080);
        
        /* Font Website/Body 1/Regular */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 28px */
        margin-top: 24px;
        text-align: left;
        
        
    }


    

    .name-person {
        margin-left: 32px;
        margin-top: 60px;
        margin-bottom: 48px;
    }


    

    .abram-2 .name-person{
        position: relative;
        bottom:30px;
        right: 10px;
    }
    .name-person img {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        

    }

    .name-person h5 {
        margin-left: 20px;
        margin-top: 20px;
        color: var(--text-main-text, #121212);

        /* Font Website/H2/Medium */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 33.6px */

    }


    .sec-9 .row .col-12 {
        margin-top: 56px;
    }

    .row .head-sec9 {
        margin-top: 56px;
    }


    .sec-9 .row {
        margin-top: 120px;
    }

    .head-sec9 h2 {
        color: var(--text-main-text, #121212);
        text-align: center;

        /* Font Website/H1/Semi Bold */
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 67.2px */
    }

    .head-sec9 p {
        color: var(--text-secondary-text, #808080);
        text-align: center;

        /* Font Website/H2/Regular */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 240%; /* 33.6px */
    }


    .sec-9 .row .col-12 h5 {
        color: var(--text-main-text, #121212);
        text-align: center;
        margin-top: 24px;
        /* Font Website/H2/Medium */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 33.6px */
    }


    .sec-9 .row .col-12 p {
        color: var(--text-secondary-text, #808080);
        text-align: center;
        margin-top: 16px;
        /* Font Website/Body 2/Regular */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
    }


    footer .container .row .col-12 {
        margin-top: 56px;
    }

    footer {
        margin-top: 120px;
    }

    footer .row .col-12 .d-flex{
margin-right: 80px;
    }

    footer .d-flex h5 {
        color: var(--neutral-0-white, #FFF);
        font-family: Poppins;
        font-size: 24.988px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    
    }


    

    .loction {
        color: var(--text-secondary-text, #808080);
        margin-top: 10px;
        /* Font Website/Body 2/Medium */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
        text-align: start;
        margin-left: 20px;
    }



    .social-media {
        margin-top: 32px;
        
    }

    .social-media h5 {
        color: var(--neutral-0-white, #FFF);
margin-right: 90px;
        /* Font Website/Body 1/Medium */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 28px */
    }


    .social-media span img {
        border-radius: 50px;
        margin-top: 8px;
        margin-right: 10px;
    }

    .menu-footer p {
        color: var(--text-secondary-text, #808080);
        margin-left: 140px;
        /* Font Website/Body 2/Medium */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%; /* 25.2px */
        text-align: start;
    }

    .menu-footer-2 {
        color: var(--text-secondary-text, #808080);
        margin-left: 50px;
        /* Font Website/Body 2/Medium */
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%; /* 25.2px */
        text-align: start;
    }

    
    

    .email{
        text-align: start;
        margin-left: 30px;
    }

    .email h5 {

        color: var(--neutral-0-white, #FFF);

        /* Font Website/Body 1/Medium */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 28px */
    }

    .email p {
        color: var(--text-secondary-text, #808080);
        margin-top: 16px;
        /* Font Website/Body 2/Medium */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
    }

    .footer-app {
        margin-top: 36px;
        
        
    }

    .footer-app p {
        color: var(--neutral-0-white, #FFF);
margin-right: 90px;
        /* Font Website/Body 1/Medium */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 28px */
    }

    .footer-app button {
        border-radius: 26px;
        background: var(--neutral-0-white, #FFF);
        height: 52px;
        padding: 8px 56px;
        align-items: center;
        gap: 10px;
        color: var(--text-main-text, #121212);
margin-left: 20px;
        /* Font Website/Body 2/Medium */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 25.2px */
    }


    hr {
        width: 1200px;
        height: 2px;
        flex-shrink: 0;
        background: var(--text-secondary-text, #808080);
    }

    footer .terms{
        display: flex;
        justify-content: space-between;
        color: var(--text-secondary-text, #808080);

        /* Font Website/Body 2/Medium */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 25.2px */
    }







}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}